.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        .text-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            width: 50%;
            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }
            h1 {
                font-size: 88px;
            }
            .buttons {
                display: flex;
                gap: 10px;
                z-index: 100;
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-size: 1.1rem;
                    // font-weight: 300px;
                }
            }
            img {
                width: 50px;
            }
        }
    }
    .image-container{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .sliding-text-container {
        position: absolute;
        font-size: 50vh;
        bottom: -100px;
        white-space: nowrap;
        color: rgba(255, 253, 253, 0.095);
        width: 100%;
        font-weight: bold;
    }
}
