.portfolio {
    position: relative;

    .progress {
        position: sticky;
        padding-top: 50px;
        top: 0;
        left: 0;
        font-size: 36px;
        text-align: center;
        color: orange;
    }
}